# Server Runtime
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database Connection
MONGODB_URI=mongodb://127.0.0.1:27017/liaquatabad_education_db

# CVifyPro Security Architecture Secrets
PASSWORD_PEPPER=liaquatabad_dmc_high_entropy_pepper_secret_2026

# JWT Secrets & Expiry
JWT_ACCESS_SECRET=dev_liaquatabad_access_secret_key_minimum_32_chars_2026
JWT_REFRESH_SECRET=dev_liaquatabad_refresh_secret_key_minimum_32_chars_2026
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary Media CDN
CLOUDINARY_CLOUD_NAME=dmc-liaquatabad
CLOUDINARY_API_KEY=mock_key
CLOUDINARY_API_SECRET=mock_secret

# SMTP Email Transporter
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=mock_user
SMTP_PASS=mock_pass
EMAIL_FROM="Education Department DMC Liaquatabad <no-reply@liaquatabad-schools.gov.pk>"

# Emergency Break Glass Key
BREAK_GLASS_RECOVERY_KEY=dev_break_glass_recovery_key_sample_2026
